!!!
html(ng-app="uberCodeExercise")
  head
    meta(charset='utf8')
    base(href='/')
    title Uber Code Exercise
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/app.css')
  body
    block body
